<div class="center hero-unit">
  <h1>Welcome to the Micropost Web-App</h1>

  <h2>This is the homepage for the Micropost Web-App</h2>

  <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
</div>

